*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.326); */
}

.main{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* background-color: antiquewhite; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.username, .email, .phone{
    display: flex;
    gap: 0.3rem;
}

form > button {
    margin-top: 1rem;
    width: 5rem;
    background-color: rgb(61, 61, 236);
    color: white;
    border-radius: 8%;
    border: none;
    height: 1.5rem;
}

.listed{
    display: flex;
    gap: 2rem;
}

.delete{
    width: 4rem;
    background-color: rgb(210, 29, 65);
    color: white;
    border-radius: 8%;
    border: none;
    height: 1.2rem;
}

.edit{
    width: 4rem;
    background-color: yellow;
    color: black;
    border-radius: 8%;
    border: none;
    height: 1.2rem;
}

